.dropsection-about {
		width: 100%;
    height: 100%;
    //position: absolute;
		position: fixed;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #2f3234;			
		justify-content: flex-start;
		//opacity: 0;
  	transition: opacity .5s;
  	z-index: 2;
  	display: none;  
}



.img-close {
width: rem(20px);
height: rem(20px);
font-size: rem(20px);
color:#fff;
cursor: pointer;
} 

.nav-about__drop {
	margin: 0;

			& .nav-about__item {
				display: block;
				margin-bottom: rem(30px);
				text-align: center;
  
  		&:after {
		    display: block;
		    content: ' ';
		    margin: 0 4rem;
		    @include circle(rem(5px), #fff);
		      }
				  &:last-child:after {
				    display: none;
				  }
}

						& .nav-about__link {
					text-transform: uppercase;
					font-family: "Ubuntu";
					font-weight: 500;
					font-size: rem(24px);
					color: #fff;
					text-decoration: none;
				  text-transform: uppercase;
				  display: inline-block;
				  vertical-align: middle;
				  transition: .5s;
					margin-bottom: rem(30px);

				  &:hover {
				    text-decoration: underline;
				  }
				}
			@include tablets {
      display: block;
      }
}





