.section-about {
	background: url("../img/__about/bg_about_.png") no-repeat; 
	background-position: 50%;
  background-size: cover;
	position: relative;
	opacity: 1;
  transition: opacity .5s;
}

.main-about {
	width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: center;
  margin-bottom: rem(100px);

  	 @include tablets {
  	 	flex-direction: column;
	    align-items: center;
	    text-align: center;
	    padding: 0 20%; 
  	 }
  }

.main-about__picture {
	flex-basis: 50%;	
	padding-bottom: 80px;

		@include tablets {
      margin-bottom: 0;
    }
}

.description-about {
	flex-basis: 50%;
	flex-direction: column;
  justify-content: center;
  padding-bottom: rem(55px);
}


/*.description-about__tagline {
	font-family: "Gagalin";
	font-weight: normal;
	font-style: normal;
	font-size: rem(72px);
	color: #f9b43b;
	text-transform: uppercase;
	margin: 0;	

			@include phones {
				font-size: rem(63px);
		}
}*/


.description-about__it {
	font-family: "Lifehack";
	font-weight: 500;
	font-size: rem(65px);
	color: #fff;
	margin: 0;
	line-height: 1;

			@include phones {
				font-size: rem(54px);
			}
}

.footer-about {
	width: 100%;
	//height: rem(80px);
	text-align: center;
}

.arrow-scroll__icon {
	width: rem(40px);
  height: rem(40px);
  transition: .3s;
  fill: #fff; 
}

