.section-burgers {
	background-image: linear-gradient (90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  display: flex;
  flex-direction: row;
  align-items: center;
 }

.container-burgers {
	//max-width: rem(940px); 
	height: 90%;
	//overflow: hidden;
	padding-top: rem(30px);
	
			@include phones {
				height: 100%;
	}
}

.slider {
	width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: center;
  border: none;  
}

 
 .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
  	border: none; 
    background: none;
}

.slider__list {
	white-space: nowrap;
	position: absolute;
	left: 0;
	top: 0;
} 


.slider__item {
	width: 100%;
	height: 100%;
	display: inline-flex;
	font-size: 0px;
	
		@include tablets {
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		text-align: center;
  	}
}

.main-burgers__picture {
	position: relative;
	flex-basis: 50%;
	width: 50%;
	
			@include tablets {
				margin-bottom: rem(45px);
				width: 70%;
			}
}

.main-burgers__img {
	width: 85%;
	padding-top: rem(80px);
}

.description-burgers {
		flex-basis: 45%;
		width: 50%;
		white-space: normal;
		
			@include tablets {
				padding: 0 30px;
				width: 100%;
			}
}

.burgers-title {
	color: #fff;
	line-height: 1;
	margin-bottom: rem(50px);

			@include tablets {
				padding: 0 10rem;
			}

			@include phones {
				font-size: rem(50px);			
				padding: 0 rem(20px);	
				margin-bottom: rem(30px);
			}

}

.description-burgers__text {
	font-size: rem(14px);
	color: #fff;
	font-weight: 300; 
	margin-bottom: rem(40px);
	
		@include tablets {
			padding: 0 5rem;
		}

		@include phones {
			margin-bottom: rem(30px);
			padding: 0;
		}
}


.composition {
	position: absolute;
	width: rem(90px);
	height: rem(90px);
	background: #f08c33;
	border-radius: rem(5px);
	z-index: 3;
		
		&:hover {
			cursor: pointer;
			background: #e35028;
		}
					@include tablets {
						top: 0;
			    	left: 10%;
			  	}

			  	@include phones {
			  		top: 0;
			  		left: 3%;
			  	}
}

		
.composition:hover .drop__list {
		left: 100%;
}

.composition__img {
	width: 50%;
	margin-left: 22px;
  margin-top: 13px;

  	@include tablets {
  		margin: 13px auto 0;
  	}
}

.composition_text {
	font-family: "Gagalin";
    font-weight: normal;
    font-style: normal;
    font-size: rem(16px);
    color: #fff;
    text-align: center;
    margin-top: .16rem;

}

.kkal {
	width: rem(85px);
    height: rem(90px);
    position: absolute;
    top: 80%;
			
			.composition_text {
				color: #f9d19d;
			}
			.composition_text {
				margin: 0;
			}

				@include tablets {
				top: 0;
    		left: 80%;
    	}

    	@include phones {
    				top: 0;
			  		left: 78%;
			  	}
}

.kkal_in {
	font-size: 1rem;
	color: #f9d19d;
	position: absolute;
  top: 30%;
  left: 35%;
}

.kkal__img {
	width: 80%;
	height: rem(90px);
	margin-left: rem(13px);
}

.price-sum {
	display: inline-block;
	color: #e35028;
}

.price-val {
	display: inline-block;
	color: #e35028;
	font-size: rem(30px);
	margin-right: rem(30px);
}

.toorder-about__button {
	display: inline-block;
}

.burgers-arrow-scroll {

	position: absolute;
	top: 50%;
	width: rem(30px);
  height: rem(15px);
  margin: auto;
  transform: rotate(-90deg) translateY(-50%);
  		  	
		  	&:hover {
		  		cursor: pointer;
				}

				@include tablets {
					right: none;
				}
}

.burgers-arrow-scroll--forward {
		right: 0;
}

.burgers-arrow-scroll--back {	
	transform: rotate(90deg) translateY(-50%);
	left: 0;
}

.bx-wrapper .bx-pager {
	display: none;
}

.bx-wrapper {
    margin-bottom: -30px;
  }

.bx-prev {
  display: inline-block;
  width: rem(30px);
  height: rem(15px);
  position: absolute;
  z-index: 3;
  bottom: 50%;
  left: rem(20px);
  background: url('../icons/arrow-scroll.svg') center center no-repeat;
  transform: rotate(90deg) translateY(-50%); 		
}


.bx-next {
  display: inline-block;
  width: rem(30px);
  height: rem(15px);
  position: absolute;
  z-index: 3;
  bottom: 50%;
  right: rem(20px);
  background: url('../icons/arrow-scroll.svg') center center no-repeat;
  transform: rotate(-90deg) translateY(-50%);
 }
	

