.section-contacts {
	background: url("../img/__contacts/bg-contacts.png") center center no-repeat;
	background-size: cover;
 }

//contacts__map {	
	//position: absolute;
	//top: 0;
	//bottom: 0;
	//left: 0;
	//right: 0;
//}


.footer-contacts {
	background: url("../img/__contacts/bg-footer.png") center bottom no-repeat;
	background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10px) rem(20px);
} 

.container-contacts {
	display: flex;
  flex-flow: row nowrap;
  align-items: baseline; 

  	@include phones {
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		//padding: rem(20px);
  	}
}


.footer__row {
	width: 50%;
  margin-bottom: rem(15px); 

  	@include phones {
  		width: 100%;
  		text-align: center;
  		margin-bottom: 0;
  	}
} 


.footer__row--left {
	text-align: left; 

		@include phones {
  		width: 100%;
  		text-align: center;
  		margin-bottom: rem(10px);
  	}
}

.footer__row--right {
	text-align: right; 
	margin-bottom: 0;
  display: flex;
  justify-content: flex-end; 

  	@include phones {
  		width: 100%;
  		justify-content: center;
  		text-align: center;
  	}
}

.footer__adress {
	font-family: "Ubuntu";
	font-size: rem(14px);
	font-weight: 300;
	color: #fff;
}

.footer__link {
	display: inline-block;	
	text-decoration: none;
	font-family: "Ubuntu";
	font-size: rem(14px);
	font-weight: bold;
	color: $orange;

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			background: url("../icons/phone.svg") center center no-repeat;
			height: rem(20px);
			width: rem(20px);
			margin-right: rem(5px);
		}
}

.socials__list {
  position: relative;
  top: 50%;
  display: flex;
  align-items: center;
}

.socials__item {
  margin-left: rem(10px);
}

.socials__link {
  display: inline-block;
  max-width: rem(23px);
  max-height: rem(20px);
  opacity: .3;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.socials__link-icon {
  width: rem(20px);
  height: rem(20px);
}