
#fp-nav {
  @include tablets{
        display: none;
      }
}

#fp-nav.right {
    top: 25%;
  }

#fp-nav ul li a span {
    position: relative;
		width: rem(20px);
		height: rem(20px);
		display: block;
    text-align: center;
    margin-bottom: rem(5px);
     	 
       &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: rem(5px);
  	height: rem(5px);
  	background-color: #fff;
  }
      &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: rem(1px) solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
     }
   }

#fp-nav ul li a.active span:before,
#fp-nav ul li:hover a.active span:before,
#fp-nav ul li:hover a span:before {
    width: rem(15px);
    height: rem(15px);
    opacity: 1;
}

	
	

