.pagination {
	position: absolute;
	top: 90px;
	left: 95%;
}

.pagination__item {
		width: 20px;
		height: 20px;
		display: block;
  	 &:after {
    display: inline-block;
    content: ' ';
    width: 5px;
  	height: 5px;
  	border-radius: 50%;
  	background-color: #fff;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin: 5px;
    position: relative; 
    }
  &:hover {
    display: inline-block;
    text-align: center;
		border-radius: 50%;
		border-width: 1px;
	  border-style: solid;
	  border-color: #fff;
   }
 }

	
	

