.section-team {
	background: url("../img/__team/main.png") top center no-repeat; 
	background-size: cover;
	position: relative;
}

.container-team {
	position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(#2f3234, .93);
  padding: 0 rem(120px) 0 rem(80px);
  display: flex;
  flex-direction: column;
  padding-top: rem(50px); 
  align-items: flex-start;
  	
  	@include tablets() {
  		width: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
				.main-team__avatar {
					display: block;
			}	
  	}
}

/*.main-team__title {
	font-family: "Gagalin";
	font-weight: 500;
	font-size: rem(72px);
	color: #f6ac3a;
	text-align: left;
	//line-height: rem(190px);
	margin-bottom: 0;

		@include phones {
			font-size: rem(50px);
		};
}*/

.main-team__item {
	margin-bottom: rem(40px);
	align-items: center;
  
		&:last-child {
		margin-bottom: 0;
	} 
}



.main-team__trigger {
	text-decoration: none;
	font-family: "Gagalin";
	font-weight: 500;
	font-size: rem(14px);
	color: #fff;
  display: flex;
   align-items: center;
  margin-bottom: rem(15px);

		  &:before {
		    content: "";
		    height: 0;
		    width: 0;
		    border: 9px solid transparent;
		    border-top-color: #f8b43a;
		    border-bottom-width: 0px;
		    margin-right: rem(10px);
  }
  	@include tablets() {
  		font-size: rem(25px);
			text-align: center;
			justify-content: center;
		}
} 

.main-team__drop {
	display: none;
		//align-items: center;
	//height: 0;
	//overflow: hidden;
}

.main-team__avatar {
	display: inline-block;
          
}
.main-team__img {
	width: rem(100px);
	height: rem(100px);
	border-radius: 50%;
	margin-right: rem(20px);
}

.main-team__text {
	display: inline-block;
	vertical-align: top;
	width: 13rem;
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: rem(14px);
	color: #fff;
		
 			.main-team__name  {
				font-weight: bold;
				margin-bottom: rem(15px);
}
		  .main-team__txt {
		  	font-weight: 300;
		  }
}

.main-team__item--activ {

		.main-team__trigger {
			color: #f8b43a;
		}

		.main-team__trigger:before {
     			transform: rotate(-180deg);
    }
  
			.main-team__drop {
   			display: block;
  }
				
	}



