.section-team {
	background: url("../img/__team/main.png") top center no-repeat; 
	background-size: cover;
	position: relative;
}

.container-team {
	position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(#2f3234, .93);
  padding: 0 120px 0 80px;
  display: flex;
  flex-direction: column;
  padding-top: 50px; 
  align-items: flex-start;
}

.main-team__title {
	font-family: "Gagalin";
	font-weight: 500;
	font-size: 72px;
	color: #f6ac3a;
	text-align: left;
	//line-height: 190px;
	margin-bottom: 0;
}

.main-team__trigger {
	text-decoration: none;
	font-family: "Gagalin";
	font-weight: 500;
	font-size: 14px;
	color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

		  &:before {
		    content: "";
		    height: 0;
		    width: 0;
		    border: 9px solid transparent;
		    border-top-color: #f8b43a;
		    border-bottom-width: 0px;
		    margin-right: 10px;
  }
} 

.main-team__drop {
	display: none;
		//align-items: center;
	//height: 0;
	//overflow: hidden;
}

.main-team__avatar {
	display: inline-block;
          
}
.main-team__img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 20px;
}

.main-team__text {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: 14px;
	color: #fff;
		
 			.main-team__name  {
				font-weight: bold;
				margin-bottom:15px;
}
}

.main-team__item--activ {

		.main-team__trigger {
			color: #f8b43a;
		}

		.main-team__trigger:before {
     			transform: rotate(-180deg);
    }
  
			.main-team__drop {
   			display: block;
  }
				
	}



