.section__we {
	background: url("../img/__we/bg__we.png") no-repeat; 
	background-position: center bottom;
  background-size: cover;
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap__we {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.header__we {
	height: 190px;
	font-family: "Gagalin";
	font-weight: 500;
	font-size: 72px;
	color: #2f3234;
	text-align: center;
	line-height: 190px;
	margin-bottom: 30px;
	}

	.description__we {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.description__img {
	display: block;
	margin: 0 auto 30px auto;
}

.description__title {
	font-family: "Lifehack";
	font-weight: 500;
	font-size: 21px;
	color: #2f3234;
	text-align: center;
	margin-bottom: 30px;
}

.description__text {
	font-family: "Ubuntu";
	font-weight: 300;
	font-size: 14px;
	color: #2f3234;
	text-align: center;
}


