.section-we {
	background: url("../img/__we/bg__we.png") no-repeat; 
	background-position: center bottom;
  background-size: cover;
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap-we {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.header-we {
	height: rem(190px);
	font-family: "Gagalin";
	font-weight: 500;
	font-size: rem(72px);
	color: #2f3234;
	text-align: center;
	line-height: rem(190px);
	margin-bottom: rem(30px);

			@include phones {
				font-size: rem(50px);
			}
	}

	.main-we__description {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	list-style: none;

		@include phones {
			flex-flow: column;
			justify-content: center;
			align-items: center;
		}
}

.main-we__item {
	@include phones {
		display: flex;
		flex-flow: row;
		align-items: center;
	}
}

.main-we__img {
	display: block;
	margin: 0 auto rem(30px) auto;
}

.main-we__text {
	@include phones {
		width: rem(336px);
		margin-left: rem(20px);
	}
}
.main-we__item h3 {
	font-family: "Lifehack";
	font-weight: 500;
	font-size: rem(21px);
	color: #2f3234;
	text-align: center;
	margin-bottom: rem(30px);

		@include phones {
			text-align: left;
		}
}

.main-we__item p {
	font-family: "Ubuntu";
	font-weight: 300;
	font-size: rem(14px);
	color: #2f3234;
	text-align: center;

		@include phones {
			text-align: left;
		}
}


