.wrapper {
	background: url(../../img/bg_about_.png) center center no-repeat; 
	background-position: cover;
	position: relative;
}

.header__about {
	height: 82px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.drops__img {
	z-index: 99;
}

.nav__about {
	margin-left: auto;
}

.navigation__about__item {
	float: left;
	margin: 0 20px;
	color: #fff;
}

.navigation__about__item:first-child {
			list-style: none;
}

	.navigation__about__link {
	text-transform: uppercase;
	font-family: "Ubuntu";
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

.button__about {
	display: block;
	width: 98px;
	height: 35px;
	background: #e45028;
	text-transform: uppercase;
	font-family: "Ubuntu";
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 35px;
	border-radius: 5px;
	text-decoration: none;
}


.main__about {
	height: 470px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.picture__about {
	width: 940px;
	height: 470px;
	margin: auto;
	padding-left: 480px;
	background: url(../../img/burger_about-ac.png) left center no-repeat;
}

.tagline__about {
	font-family: "Gagalin";
	font-weight: 500;
	font-size: 70px;
	color: #f9b43b;
	padding-top: 130px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

.tagline__about__it {
	font-family: "Lifehack";
	font-weight: 500;
	font-size: 60px;
	color: #fff;
	margin: 0;
	line-height: 1;
}


.footer__about {
	height: 90px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.arrow-scroll {
	display: block;
	width: 30px;
	height: 15px;
	background: url(../../img/arrow-scroll.png) center center no-repeat;
}

.pagination__about {
	position: absolute;
	width: 60px;
	top: 90px;
	right: 0;
	list-style: none;
}

.pagination__about__link:after {
	content: "";
	display: block;	
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
	margin-bottom: 15px;
}


.pagination__about__link:hover:after {
				width: 10px;
			  height: 10px;
			  border-radius: 50%;
			  border: 1px solid #fff;
			  background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);;
			}