*, *::before, *::after  {
  box-sizing: border-box; /*Значения width/height задают высоту/ширину всего элемента, а не контента*/
}

body, html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: rem(16px);
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: $dark;
  -webkit-font-smoothing: antialiased;/*сглаживание шрифтов*/
  -moz-osx-font-smoothing: grayscale;
}

/*убираем стили*/
ul {      
  margin: 0; 
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {     
  margin: 0;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}


.locked {
  overflow: hidden;
} 

/*спрятать элемент*/
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: rem(1px);
  height: rem(1px);
  margin: rem(-1px);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix:after {    
  content: "";
  display: block;
  clear: both;
}

.success {
  position: absolute;
  left: 35%;
  top: 35%;
  background: rgba(69, 69, 69, 0.9);
  width: 30%;
  height: 20%;
  border-radius: rem(5px);
  margin: 0;
  z-index: 999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  color: #f9b43b;
  text-align: center;
  font-size: rem(24px);
}

.close {
  z-index: 1001;
  background: #606061;
  color: #f9b43b;
  line-height: rem(25px);
  position: absolute;
  right: rem(-12px);
  text-align: center;
  top: rem(-10px);
  width: rem(25px);
  height: rem(25px);
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: rem(12px);
  -moz-border-radius: rem(12px);
  border-radius: rem(12px);
  -moz-box-shadow: rem(1px) rem(1px) rem(3px) #000;
  -webkit-box-shadow: rem(1px) rem(1px) rem(3px) #000;
  box-shadow: rem(1px) rem(1px) rem(3px) #000;
}
  





